@import '~bootstrap/scss/bootstrap';

$border: 10px ridge white;
$blue: #2296de;

body {
  background-color: #232323;
  text-align: center;
  color: white;
  margin: 0 auto;
}

.title {
  color: #999999;
  margin: 10px auto;
  padding-bottom: 10px;
}

.subtitle {
  color: $blue;
  text-align: left;
}

input, .btn {
  border-radius: 7px;
  margin: 2px auto;
}

.sign-up-sign-in-div input,
.change-password-form-div input {
  margin: 2px 0;
}

#play-now-button {
  padding: 15px;
}

.game-board-row {
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  vertical-align: middle;
  border: $border;
  width: 140px;
  height: 120px;
  font-size: 70px;
  color: white;
  font-weight: bold;
}

.zero,
.three,
.six {
  border-left: 0;
}

.zero,
.one,
.two {
  border-top: 0;
}

.two,
.five,
.eight {
  border-right: 0;
}

.six,
.seven,
.eight {
  border-bottom: 0;
}

.sign-up-sign-in-div,
.stats-div,
.change-password-button-div,
.change-password-form-div,
.sign-out-div {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 30px 0;
}

.play-now-div {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  vertical-align: center;
  padding-bottom: 90px;
}

#play-now-button {
  font-size: 25px;
  font-weight: bold;
}

.game-div {
  width: 500px;
  margin: 0 auto;
}

#game-display {
  background-color: black;
  color: $blue;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  padding: 5px 0;
  width: 500px;
}

#change-password-form input {
  margin-bottom: 15px;
}

#change-password-display,
#sign-up-display,
#sign-in-display,
#invalid-move,
#stats-display,
#error-message {
  color: #10d16a;
}

@media (max-width: 500px) {
  .sign-up-sign-in-div,
  .game-div,
  #game-display,
  .stats-div,
  .change-password-button-div,
  .change-password-form-div,
  .sign-out-div {
    width: 350px;
  }
}

@media (max-width: 500px) {
  .box {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
}
