@import '~bootstrap/scss/bootstrap';

body {
  background-color: #232323;
  text-align: center;
  color: white;
}

.title {
  color: #999999;
  margin: 10px auto;
}

h4 {
  color: #2296de;
  text-align: left;
}

input {
  border-radius: 5px;
}

.box {
  text-align: center;
  padding-top: 15px;
  height: 115px;
  font-size: 50px;
  color: white;
}

.one, .four, .seven {
  border-left: 10px ridge white;
  border-right: 10px ridge white;
}

.three, .four, .five {
  border-top: 10px ridge white;
  border-bottom: 10px ridge white;
}

.row-1, .row-2, .row-3 {
  display: flex;
  justify-content: center;
}

.play-now-div {
  padding-bottom: 15px;
}

.game-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 430px;
  margin: auto;
}

.game-board {
  padding: 10px;
}

#game-display {
  background-color: black;
  margin: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  width: 475px;
}

.change-password-form-div {
  width: 250px;
  margin: 10px auto;
  padding: 10px;
}

.change-password-form-div input {
  margin: 10px;
}

#stats-display {
  padding-top: 5px;
}
