@import '~bootstrap/scss/bootstrap';

.header {
  text-align: center;
}

.container {
  width: 600px;
}

.box {
  text-align: center;
  padding-top: 25px;
  height: 150px;
  font-size: 70px;
}

#statistics {
  border: 2px solid black;
  padding-top: 50px;
}

.one, .four, .seven {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.three, .four, .five {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.row-1, .row-2, .row-3 {
  display: flex;
  justify-content: center;
}

#sign-in, #sign-up {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}
